<h1>Login</h1>
<% if(messages.error) { %>
    <div class="error">
        <%= messages.error %>
    </div>
<% } %>
<form action="/login" method="post">
    <div>
        <label for="email">Email : </label>
        <input type="email" name="email" id="email" placeholder="Enter your email" required /><br />
    </div>
    <div>
        <label for="password">Password : </label>
        <input type="password" name="password" id="password" placeholder="Enter your password" required /><br />
    </div>
    <button type="submit">Login</button>
</form>

<a href="/register">Register</a>